<h1>Welcome to Pets and Owners!</h1>

<h2>Would you like to <a href="/owners/new">register a new owner</a>?</h2>
<h2>Want to <a href="/owners">view all of the owners</a>?</h2>
<h2>You can also <a href="pets/new">add a pet</a> or <a href="/pets">view all of the pets</a> on file.</h2>